@page
@model IndexModel
@using PhoneApplication.Models
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1>Hello in Your Phone Contacts over the web</h1>
    <h3>Your Current Contact </h3>
    <table class="table mt-5" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        @foreach(Contact contact in Model.contacts)
            {
    <tr>
        <td>@contact.Name</td>
        <td>@contact.PhoneNumber</td>
        <td>
            @*method="post" asp-page-handler="Delete" asp-route-id="@pizza.Id"*@
            <form>
                <button class="btn btn-danger">Delete</button>
            </form>
        </td>
        <td>
            <a asp-page="/EditContact"  asp-area="" asp-page-handler="@contact.Id" class="btn btn-outline-info" >Edit</a>
        </td>
    </tr>
            }
    </table>
</div>
